/.docker
/.idea
secret.txt
/db
/node_modules
/public/storage/files/*
/public/storage/images/*
/storage/fonts
/storage/fonts/*
/storage/*.key
/storage/images/*
/vendor
.htaccess
.env
docker-compose.yml
important-commands.txt
omulimisa.sql
ssl.crt
ssl.key
.DS_Store
*.lock
composer.lock
